.box {
    height: 600px;
    width: 600px;
    border: 7px solid yellow;
    margin: auto;
    margin-top: 50px;
    
}

.firstLine{
    height: 75px;
    border: none;
    display: inline-flex; 
    margin-top: -3px;   
}

.secondLine{
    height: 75px;
    border: none;
    display: inline-flex; 
    margin-top: -4px;  
}

.black {
    height: 100%;
    width: 75px;
    background-color: black;
    
    
}

.white {
    height: 100%;
    width: 75px;
    background-color: white;
  
}
